requests
beautifulsoup4
lxml  
trafilatura
langchain
duckduckgo-search
PyMuPDF
pdfminer.six
python-pptx
python-docx
openpyxl
ebooklib
pypdf
numpy
pandas
faiss-cpu
scikit-learn
sentence-transformers
python-multipart
fastapi
uvicorn
aiofiles
jinja2
itsdangerous
sse-starlette
transformers
torch
croniter
apscheduler
pyinstaller
